html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

#__next {
  background-color: #e6e6e6;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.footer {
  background-color: #c8102e;
  color: white;
  padding: 3% 0 1%;
  display: flex;
  /* width: 100%; */
  justify-content: center;
}

.footerContent{
  width: 100%;
}

.footerText {
  display: flex;
  width: 100%;
  justify-content: space-around;
  padding-bottom: 100px;
}

.footerHeadercontent {
  margin-bottom: 3%;
}

.link {
  display: flex;
  justify-content: center;
}

.point :hover {
  cursor: pointer;
}

.color {
  color: #c8102e;
}

.navTop {
  position: fixed !important;
  top: 0;
  z-index: 1000;
  width: 100%;
  background-color: #c8102e !important;
  color: white !important;
}

.navbar-light .navbar-brand {
  color: white !important;
}

.navbar-light .navbar-nav .nav-link {
  color: white !important;
}

.carousel .slide .legend {
  background: none !important;
}

.btn-primary {
  color: #fff;
  background-color: #c8102e !important;
  border-color: #c8102e !important;
}

.carousel .slide {
  width: 100vw !important;
  height: 100vh !important;
}

.finalfooterline{
  border-top: 1px solid #fff;
  padding-top: 5px;
}

.finalfooterline p{
  margin-top: 10px;
}

.headersection {
  padding: 100px 0px 0px 100px !important;
}

.blogButton {
  background-color: transparent !important;
  color: #c8102e !important;
}

.blogButton:hover {
  background-color: #c8102e !important;
  color: white !important;
}

.badge{
  margin-right: 20px;
  background-color: #c8102e !important;
  cursor: pointer;
}

.submitForm {
  background-color: white;
  border-radius: 5px;
}

#submitContactForm {
  width: 20%;
  display: flex;
  justify-content: center;
}

.submitContactDiv {
  display: flex;
  justify-content: center;
}

.commentForm {
  background-color: white;
  box-shadow: 7px 5px #c0bfbf;
  border-radius: 5px;
}

.width98 {
  width: 98% !important;
}
